<div class="container-fluid mt-2">
	<div class="row m-2 card-all">
		<% @manga.each do |manga|%>
				
      <article class="card-last-manga card--1">
        <div class="card__img" style="background-image: url('<%= manga.manga.image_url %>')"></div>
        <a href="<%=library_item_path(manga)%>" class="card_link">
          <div class="card__img--hover" style="background-image: url('<%= manga.manga.image_url %>')"></div>
        </a>
        <div class="card__info">
           <%= link_to manga.manga.title.capitalize, library_item_path(manga), class: "card__title"%>
          <h5><span>par <%=manga.manga.author%></span></h5>
          <% manga.manga.categories.each do |category| %>
          <%= link_to category.name, category_path(category.id) %>
          <%end%>
        </div>
      </article>
				
		<% end %>
	</div>
</div>


