
  <div class="row profile-banner p-5 d-flex justify-content-center align-items-center"><br>
    <div><h1 class="concept-title"> Découvrez Kasu</h1>
          <p class="text-center px-5 mx-5" style="font-size:25px"><b> Bienvenue dans la communauté de passionnés de manga. <br> Dévore tous les mangas à moindre coût grâce à l'échange.</b> </p>
        </div>
  </div>

        <!-- Molécule de présentation -->
        
  <div class="container">
    <h2 class="text-center m-5 p-5">Comment ça fonctionne ?</h2> 
    <div class='row px-5 align-items-center'>
      <div class='col-6 px-5'>
          <h3> Partage /Échange</h3>
        <p>Kasu est une plateforme d'échange qui te permet d'assouvir ta passion en échangeant tes Mangas contre d'autres. Rentres ton manga dans la bibliothèque, si une personne est intéressée par celui-ci, il prendra contact avec toi via la messagerie du site, vous pourrez alors vous mettre d'accord sur les modalité. Une fois d'accord,
            tu pourras confirmer l'échange et récupérer son Kasu point.</p>
      </div>
      <div class='col-4 pb-5'>
        <%= image_tag 'achete.png'%>
      </div>
    </div>
  
    <div class='row p-5 align-items-center'>
      <div class='col-4 px-5'>
        <%= image_tag 'recois.png'%>
      </div>
      <div class='col-6 px-5'>
        <h3>Reçois</h3>
        <p>Quand tu échanges un livre, tu reçois un Kasu point qui te permettra à ton tour d’acquérir un nouveau manga ensuite si tu le désires, soit tu gardes ce manga, soit tu le rentres dans la bibliothèque.</p>
      </div>
    </div>
    <div class='row px-5 align-items-center'>
      <div class='col-6 px-5'>
        <h3>Choisis</h3>
      <p>J'indique les livres que je possède en entrant simplement les mangas dans la bibliothèque ou en cliquant sur le bouton "ajouter un manga". Lorsqu'un membre souhaite un de mes livres, je lui expédie et je gagne 1 kasu Point par livre. Avec celui-ci je commande les livres que je désire.</p>
      </div>
      <div class='col-4 pb-5'>
      <%= image_tag 'echange.png'%>
    </div>
  </div>
</div>


<div class="not-in-list mt-3">
    <div class="opacity-not">
    <%= image_tag "sig_up.png", class:"img-sign" %>
    <h3><b>Inscrivez-vous gratuitement, les 100 premiers inscrits recevront 1 Kasu Point !</b></h3>
    <a href="<%=new_user_registration_path%>" class="btn btn-danger">s'inscrire</a>
    </div>
  </div>





