<div class="container-fluid">
<div class="col d-flex flex-column justify-content-end profile-banner ">
<div class="row d-flex justify-content-center align-items-center pb-4 mb-5">
    <div class="big-circle position-absolute">
    </div>

    <div class="small-circle position-absolute">
        <%if @user.avatar.attached?%>
            <%= image_tag @user.avatar, class: "small-circle" %>
        <% else %>
            <%= image_tag "kirua.jpg", class: "small-circle"%>
        <%end%>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <h2><strong><%= @user.name.capitalize %></strong></h2>
</div>
<div class="row d-flex justify-content-center">
    <h2><strong><%= @user.token_state %> Kasu Point<% if  @user.token_state > 1  %>s<% end %></strong></h2>
</div>
<div class="row d-flex justify-content-center  pb-3">
    <h5><strong><%= @user.email %></strong></h5>
</div>
<div class="row d-flex justify-content-center pb-5 mb-2">
    <%= link_to "Editer mon profil", edit_user_registration_path(@user.id), class: "btn btn-primary" %>
	<% if @conversation != nil %>
	<a href='<%= conversation_messages_path(@conversation) %>' class= 'mx-4 btn btn-secondary'>Mes messages
		<% if !@conversation.unread_message_count(current_user).zero? %>
			(<%= @conversation.unread_message_count(current_user) %>)
		<% end %>
	</a>
	<% end %>
</div>
</div>

<div class="row pt-5 mt-5 d-flex justify-content-around">
<div class="col">
    <div class="row d-flex justify-content-center mb-2">
        <h4><strong>Ma bibliothèque</strong></h4>
    </div>
    <div class="row d-flex justify-content-center">
     <% if @user_collection.length == 0%>
          <h5>Votre bibliothèque est vide.</h5>
    <% else %>
    <ul class="w-75">
        <% @user_collection.each do |item| %>
            <li class="d-flex justify-content-between li-collection pl-4 pr-4 rounded library-<%= item.id %>"> 
                    <p class="mb-0"> <a href="<%= library_item_path(item) %>"><strong><%= item.manga.title.capitalize %></strong></a><% if item.volume %>(<%= item.volume %>)<% end %> de <em><%= item.manga.author %></em></p>
             <%= link_to library_item_path(item.id), method: "delete",  :data => {:confirm => 'Êtes-vous sûr de vouloir supprimer ce manga?'}, remote: true do %>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash red trash-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            <% end %>
            </li> 
        <% end %>
        <% end %>
    </ul>
    </div>
     <div class="row d-flex justify-content-center">
        <%= link_to "Ajouter un manga", mangas_path, class: 'btn btn-secondary mb-5' %>
    </div>
</div>

<div class="col">
    <div class="row d-flex justify-content-center">
         <h4><strong>Ma wishlist</strong></h4>
    </div>
    <div class="row d-flex justify-content-center">
        <% if @user_wishlist.length == 0 %>
            <h5>Votre wishlist est vide.</h5>
        <% else %>
         <ul class="w-75">
        <% @user_wishlist.each do |item| %>
            <li class="d-flex justify-content-between li-collection pl-4 pr-4 rounded wish-<%= item.id %>" > 
                 <p class="mb-0"><strong><%= item.manga.title.capitalize %></strong><% if item.volume %>(<%= item.volume %>)<% end %> de <em><%= item.manga.author %></em></p>
             <%= link_to wishlist_item_path(item.id), method: "delete", :data => {:confirm => 'Êtes-vous sûr de vouloir supprimer ce manga?'},  remote: true do %>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash red trash-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            <% end %>
            </li> 
          
        <% end %>
        <% end  %>
    </ul>
    </div>
    <div class="row d-flex justify-content-center">
        <%= link_to "Ajouter un manga", mangas_path, class: 'btn btn-secondary mb-5' %>
    </div>
</div>
</div>
</div>

