<div class="container-form">
  <div class="left">
    <div class="header">
      <h2 class="animation a1 mb-4">Contactez-nous !</h2>
    </div>
		<div class="container">

      <%= form_for @contact do |f| %>

        <div class="form">
          <div class="animation a3">
						<div class="form-group">
              <label class="" for="name">Name</label>
              <div class="">
                	<%= f.text_field  :name, required: true, class:'form-control' %>
              </div>
            </div>
          </div>


          <div class="animation a4">
							<div class="form-group">
								<label class="" for="email">E-mail</label>
								<div class="">
									<%= f.email_field :email, required: true, class:'form-control' %>
								</div>
            </div>
          </div>

          <div class="animation a5">
            <div class="form-group">
              <label class="" for="message">Message</label>
              <div class="">
                <%= f.text_area :message, required: true, class:'form-control area-contact' %>
              </div>
            </div>
          </div>
        </div>
			<div class="animation a6">
        <div class="form-group">
					
					<%= f.submit 'Envoyer', class: 'btn btn-outline-secondary' %>
					
				</div>
			</div>
      <% end %>
  </div>
  </div>
  <div class="right">
    <%= image_tag 'logo3.png', class:"brand-sign" %>
  </div>
</div>

